.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character {
  background-color: white;
  border: 0.25em solid black;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
}

.character-image {
  width: 15em;
  height: 15em;
}

.character:hover {
  background-color: rgba(128, 128, 128, 0.75);
}

.character-intro .character-image {
  width: 5em;
  height: 5em;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  margin: auto;
  padding: 1.25em;
  text-align: center;
  position: relative;
  display: block;
  color: black;
  background-color: white;
  border: 0.25em solid black;
  border-radius: 50vw;
  font: 400 larger 'Space Mono';
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;
  border: 0.25em solid white;
}

.player-score {
  font-size: 2em;
}

.game-board {
  display: grid;
  gap: 0.25em;
  width: 75vh;
  height: 75vh;
  margin-top: -20vh;
}

.game-tile {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

game-tile::before {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.game-tile>img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0.25em;
  object-fit: contain;
}


.player-character {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.player-character .character-image {
  width: 4em;
  height: auto;
  border: 0;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.75);
}

.board-center {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  font-size: 2vh;
  padding: 2em;
  border-radius: 2em;
}

.dice-thrown {
  font-size: 20vh;
}