.App {
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #226ce0;
  align-items: center;
  height: 8vh;
  width: 100vw;
}

.footer {
  position: relative;
  display: flex;
  color: white;
  background-color: #226ce0;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 100vw;
}

.character {
  background-color: white;
  border: 0.25em solid #226ce0;
  color: #226ce0;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
}

.character-image {
  width: 15em;
  height: 15em;
}

.character:hover {
  background-color: rgba(128, 128, 128, 0.75);
}

.character-intro .character-image {
  width: 5em;
  height: 5em;
}

.character-intro,
.character-display {
  color: #226ce0;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  margin: auto;
  padding: 1.25em;
  text-align: center;
  position: relative;
  display: block;
  color: #226ce0;
  background-color: white;
  border: 0.25em solid #226ce0;
  border-radius: 50vw;
  font: 400 larger "Space Mono";
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #226ce0;
  border: 0.25em solid white;
}

.inverted-button {
  margin: auto;
  padding: 0.125em 0.5em;
  text-align: center;
  position: relative;
  display: block;
  color: white;
  background-color: #226ce0;
  border: 0.125em solid white;
  border-radius: 50vw;
  font: 400 larger "Space Mono";
  text-transform: uppercase;
  cursor: pointer;
}

.inverted-button:hover {
  color: #226ce0;
  background-color: white;
  border: 0.25em solid #226ce0;
}

.player-score {
  font-size: 2em;
}

.game-board {
  display: grid;
  gap: 0.25em;
  width: 75vh;
  height: 75vh;
  margin-top: -20vh;
}

.game-tile {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

game-tile::before {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.game-tile>img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0.25em;
  object-fit: contain;
}

.player-character {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.player-character .character-image {
  width: 4em;
  height: auto;
  border: 0;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.75);
}

.board-center {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #625c77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23625c77' cx='50' cy='0' r='50'/%3E%3Cg fill='%2368607b' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%236e637f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23746783' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%237b6b87' cx='50' cy='200' r='50'/%3E%3Cg fill='%23816f8b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2387728f' cx='50' cy='300' r='50'/%3E%3Cg fill='%238d7693' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23937a97' cx='50' cy='400' r='50'/%3E%3Cg fill='%23997d9b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a081a0' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a685a4' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ac88a8' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b28cac' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b890b0' cx='50' cy='700' r='50'/%3E%3Cg fill='%23be94b4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c497b8' cx='50' cy='800' r='50'/%3E%3Cg fill='%23cb9bbc' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d19fc0' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d7a2c4' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dda6c8' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  font-size: 2vh;
  padding: 2em;
  border-radius: 2em;
}

.dice-thrown {
  font-size: 20vh;
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88vh;
  background: white;
  border: 1px solid #ccc;
  padding: 0;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  color: #226ce0;
  justify-content: center;
  align-items: center;
}

.instructions.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}